<!doctype html>
<html lang="en">
<head>
    <title>Dojo Survey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="/process", method="POST", class="bg-dark text-primary p-5 rounded col-6 mx-auto">
        <h1>Dojo Survey</h1>
        <div class="force group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="force group">
            <label for="location">Dojo Location:</label>
            <select name="location" class="form-control">
                <option value="Select One">Select One</option>
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Burbank">Burbank</option>
            </select>
        </div>
        <div class="force group">
            <label for="language">fav Language:</label>
            <select name="language" class="form-control">
                <option value="select_language">Select Language</option>
                <option value="python">Python</option>
                <option value="Java_Script">Java Script</option>
                <option value="CSS">CSS</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <div class="force-group">
          <label for="name">Comments:</label>
          <textarea name="comments" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</body>
</html>